body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(30, 32, 32);
}
/* .flex-flow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */
.header {
    background-color: rgb(40, 43, 43);
    /* max-height: 100px; */
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-around; */
    justify-content: space-between;
    /* justify-content: space-evenly; */
    /* justify-content: stretch; */
    justify-items: left;
    align-items: center;
    height: auto;
    padding-left: 20px;
    margin: 1em 0em 0em 0em;
}
.heading {
    color: white;
    text-transform: capitalize;
    text-decoration-style: solid;
    float: left;
    width: 35%;
}
.text {
    color: white;
}

.columns {
    width: 50%;
}


ul {
    list-style-type: none;
    margin: 0;
    /* overflow: hidden; */
}
li {
    float: left;
    font-size: small;
}
li a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 16px;
}
li a:hover {
    background-color: rgb(140, 228, 240);
    /* background-color: rgb(248, 184, 64); */
    /* background-color: #ffd369; */
    text-decoration: underline;
    color: black;
    /* color: white; */
}
i {
    color: white;
    /* margin: 7px; */
}
/* .logos {
    display: block;
} */

.banner {
    /* background-image: url("/banner.jpg"); */
    height: 90vh;
    /* opacity: 0.9; */
}
.home-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-emphasis: bold;
    align-content: center;
}
.form {
    position: absolute;
    top: 25%;
    left: 10%;
    /* transform: translate(100px,100px); */
    color: white;
    text-emphasis: bold;
    align-content: center;
}
.name-content {
    margin: 0em 2em 0em 2em;
}
.about-text {
    /* margin-top: 0%; */
    position: absolute;
    top: 15%;
    left: 2%;
    color: white;
    display: flex;
    flex-direction: column;
    height: auto;
}
.container {
    display: block;
    border-radius: 5px;
    color: #f2f2f2;
    padding: 20px;
    height: auto;
}   
.gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8px;
}
label {
    display: block;
    color: white;
    font-weight: bold;
}
.input-group {
    /* width: 400px; */
    width: 100%;
}
.form-input  {
    /* width: 100%; */
    width: 500px;
    left: 64px;
    /* left: 30%; */
    /* border-width: 0px; */
    border-radius: 5px;
    padding: 16px;
}
@media (max-width:808px) {
    .about-text {
        position: absolute;
        top: 20%;
    }
    .form {
        top: 30%;
    }
}
@media (max-width:512px) {
    .about-text {
        position: absolute;
        top: 25%;
    }
    .form {
        top: 35%;
    }
    .form-input  {
        width: 300px;
        left: 32px;
        /* border-width: 0px; */
        border-radius: 5px;
        padding: 16px;
    }
}
@media (max-width:443px) {
    .about-text {
        position: absolute;
        top: 33%;
    }
    .form {
        top: 45%;
    }
    .form-input  {
        width: 300px;
        left: 16px;
        /* border-width: 0px; */
        border-radius: 5px;
        padding: 16px;
    }
}
@media (max-width:338px) {
    .about-text {
        position: absolute;
        top: 35%;
    }
    .form {
        top: 45%;
    }
}
@media (max-width:380px) {
    .form {
        top: 50%;
    }
    .form-input  {
        width: 200px;
        left: 8px;
        /* border-width: 0px; */
        border-radius: 5px;
        padding: 16px;
    }
}
@media (max-width:823px) {
    .gallery {
        flex-direction: column;
        justify-content: space-around;
        flex-wrap:wrap;
    }
    .gallery > img {
        margin-bottom: 16px;
    }
}

